@tailwind base;
@tailwind components;
@tailwind utilities;

.neon-text {
  text-shadow:
    0 0 4px #fff,
    0 0 10px #ff5de0,
    0 0 20px #ff5de0,
    0 0 40px #ff5de0;
}
.neon-border {
  border: 1px solid rgba(0, 255, 255, 0.6);
  box-shadow:
    0 0 6px rgba(0, 255, 255, 0.6),
    0 0 14px rgba(0, 255, 255, 0.4),
    inset 0 0 6px rgba(0, 255, 255, 0.3);
}

@keyframes glowPulse {
  0% { box-shadow: 0 0 6px #00ffd5; }
  50% { box-shadow: 0 0 18px #00ffd5; }
  100% { box-shadow: 0 0 6px #00ffd5; }
}

.animate-glow {
  animation: glowPulse 2.5s infinite ease-in-out;
}

